In [ ]:
# !uv pip install pandas

# Create a Dataset

In [13]:
from syftbox.lib import SyftVault, TabularDataset, autocache, config_for_user, ClientConfig

In [15]:
# client_config = ClientConfig.load("

In [16]:
client_config = config_for_user("andrew@openmined.org")
client_config

ClientConfig(config_path='/Users/atrask/Documents/GitHub/syft/client_config.json', sync_folder='/Users/atrask/Desktop/SyftBox', port=8080, email='andrew@openmined.org', token=6461387628315936375, server_url='http://20.168.10.234:8080', email_token=None)

In [17]:
client_config

ClientConfig(config_path='/Users/atrask/Documents/GitHub/syft/client_config.json', sync_folder='/Users/atrask/Desktop/SyftBox', port=8080, email='andrew@openmined.org', token=6461387628315936375, server_url='http://20.168.10.234:8080', email_token=None)

In [18]:
manifest = client_config.manifest

In [19]:
manifest

DatasiteManifest(datasite='andrew@openmined.org', file_path='/Users/atrask/Desktop/SyftBox/andrew@openmined.org/public/manifest/manifest.json', datasets={'Netflix_TMDB_IMDB': {'name': 'Netflix_TMDB_IMDB', 'syft_link': {'host_or_ip': 'andrew@openmined.org', 'path': '/public/datasets/netflix_tmdb_imdb/NetflixViewingHistory_TMDB_IMDB.csv', 'port': 80, 'protocol': 'syft', 'query': ''}, 'schema': {'Unnamed: 0': 'int64', 'netflix_title': 'object', 'netflix_date': 'object', 'tmdb_id': 'int64', 'tmdb_title': 'object', 'tmdb_media_type': 'object', 'tmdb_poster_url': 'object', 'homepage': 'object', 'imdb_id': 'object', 'facebook_id': 'object', 'instagram_id': 'object', 'twitter_id': 'object', 'genre_ids': 'object', 'genre_names': 'object', 'imdb_runtime_minutes': 'int64', 'imdb_rating': 'float64'}, 'readme_link': {'host_or_ip': 'andrew@openmined.org', 'path': '/public/datasets/netflix_tmdb_imdb/README.md', 'port': 80, 'protocol': 'syft', 'query': ''}, 'loader_link': {'host_or_ip': 'andrew@openmined.org', 'path': '/public/datasets/netflix_tmdb_imdb/loader.py', 'port': 80, 'protocol': 'syft', 'query': ''}, 'has_private': True}}, code={})

In [20]:
import pandas as pd

In [21]:
canada_dataset_url = "https://github.com/OpenMined/datasets/blob/main/trade_flow/ca%20-%20feb%202021.csv?raw=True"

In [22]:
df = pd.read_csv(autocache(canada_dataset_url))

/var/folders/d4/s582723j2hqbtw60rnn5345r0000gn/T/ipykernel_94848/754433127.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(autocache(canada_dataset_url))

In [23]:
# private data samples
ca_data = df[0:10]
ca_data

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
0,HS,2021,202102,February 2021,4,0,1,Imports,124,Canada,...,"Other Asia, nes",NaN,6117,"Clothing accessories; made up, knitted or croc...",0,NaN,NaN,NaN,9285,0
1,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Egypt,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,116604,0
2,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Kingdom,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,1495175,0
3,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,United Rep. of Tanzania,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,2248,0
4,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Singapore,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,47840,0
5,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Viet Nam,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,3526,0
6,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,South Africa,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,5462,0
7,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Spain,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,311425,0
8,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Sweden,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,11786,0
9,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Venezuela,NaN,18,Cocoa and cocoa preparations,0,NaN,NaN,0.0,33715,0

In [24]:
# Mock data samples
mock_ca_data = df[10:20]
mock_ca_data

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
10,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Bangladesh,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,227222,0
11,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Haiti,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,14748,0
12,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Guatemala,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1314,0
13,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Iraq,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1825,0
14,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Israel,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1063627,0
15,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Italy,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,8359327,0
16,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Jordan,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,16858,0
17,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Rep. of Moldova,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,29897,0
18,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Nigeria,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,22235,0
19,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Slovenia,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1328,0

In [25]:
mock_ca_data

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Partner,Partner ISO,Commodity Code,Commodity,Qty Unit Code,Qty Unit,Qty,Netweight (kg),Trade Value (US$),Flag
10,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Bangladesh,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,227222,0
11,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Haiti,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,14748,0
12,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Guatemala,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1314,0
13,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Iraq,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1825,0
14,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Israel,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1063627,0
15,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Italy,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,8359327,0
16,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Jordan,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,16858,0
17,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Rep. of Moldova,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,29897,0
18,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Nigeria,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,22235,0
19,HS,2021,202102,February 2021,2,0,1,Imports,124,Canada,...,Slovenia,NaN,19,"Preparations of cereals, flour, starch or milk...",0,NaN,NaN,0.0,1328,0

# Save where ever you like

In [26]:
# create a folder with the manifest object

In [27]:
datasets_path = manifest.create_public_folder("datasets")
datasets_path

PosixPath('/Users/atrask/Desktop/SyftBox/andrew@openmined.org/public/datasets')

In [28]:
dataset_path = datasets_path / "trade_data"
dataset_path

PosixPath('/Users/atrask/Desktop/SyftBox/andrew@openmined.org/public/datasets/trade_data')

In [29]:
import os

os.makedirs(dataset_path, exist_ok=True)

In [30]:
csv_file = dataset_path / "trade_mock.csv"
csv_file

PosixPath('/Users/atrask/Desktop/SyftBox/andrew@openmined.org/public/datasets/trade_data/trade_mock.csv')

In [31]:
mock_ca_data.to_csv(csv_file)

In [32]:
dataset = TabularDataset.from_csv(csv_file, 
                                  name="Trade Data", 
                                  has_private=True)
dataset

TabularDataset(name='Trade Data', syft_link=<SyftLink syft://andrew@openmined.org:80/public/datasets/trade_data/trade_mock.csv>, schema={'Unnamed: 0': 'int64', 'Classification': 'object', 'Year': 'int64', 'Period': 'int64', 'Period Desc.': 'object', 'Aggregate Level': 'int64', 'Is Leaf Code': 'int64', 'Trade Flow Code': 'int64', 'Trade Flow': 'object', 'Reporter Code': 'int64', 'Reporter': 'object', 'Reporter ISO': 'float64', 'Partner Code': 'int64', 'Partner': 'object', 'Partner ISO': 'float64', 'Commodity Code': 'int64', 'Commodity': 'object', 'Qty Unit Code': 'int64', 'Qty Unit': 'float64', 'Qty': 'float64', 'Netweight (kg)': 'float64', 'Trade Value (US$)': 'int64', 'Flag': 'int64'}, readme_link=None, loader_link=None, _client_config=None, has_private=True)

In [33]:
dataset

TabularDataset(name='Trade Data', syft_link=<SyftLink syft://andrew@openmined.org:80/public/datasets/trade_data/trade_mock.csv>, schema={'Unnamed: 0': 'int64', 'Classification': 'object', 'Year': 'int64', 'Period': 'int64', 'Period Desc.': 'object', 'Aggregate Level': 'int64', 'Is Leaf Code': 'int64', 'Trade Flow Code': 'int64', 'Trade Flow': 'object', 'Reporter Code': 'int64', 'Reporter': 'object', 'Reporter ISO': 'float64', 'Partner Code': 'int64', 'Partner': 'object', 'Partner ISO': 'float64', 'Commodity Code': 'int64', 'Commodity': 'object', 'Qty Unit Code': 'int64', 'Qty Unit': 'float64', 'Qty': 'float64', 'Netweight (kg)': 'float64', 'Trade Value (US$)': 'int64', 'Flag': 'int64'}, readme_link=None, loader_link=None, _client_config=None, has_private=True)

In [35]:
dataset.readme_link

In [36]:
dataset.publish(manifest, overwrite=True)

✅ Dataset Published

# Link Private Data

In [37]:
import os

In [45]:
private_path = os.path.abspath("trade_private.csv")
ca_data.to_csv(private_path)

In [53]:
SyftVault.link_private(csv_file, private_path)

True

In [54]:
SyftVault.load_vault()

SyftVault(mapping={'andrew@openmined.org/public/datasets/trade_data/trade_mock.csv': '/Users/atrask/Documents/GitHub/syft/notebooks/trade_private.csv'})